.allArticles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #9fd3c7;
  a {
    text-decoration: none;
    color: black;
  }
}
.searchBar {
  width: 355px;
  height: 30px;
  border-radius: 10px;
  margin-top: 20px;
  border-right: none;
  position: relative;
  border: 2px solid black;
}
.searchButton {
  height: 30px;
  border-radius: 10px;
  bottom: 0px;
  border: solid 2px black;
  border-left: none;
  background: white;
  cursor: pointer;
  margin-top: 21px;
  margin-left: 2px;
}
.pagination {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  button {
    min-width: 70px;
    background: #385170;
    color: white;
    padding: 5px;
  }
}
.desc {
  transform: rotate(180deg);
  margin-right: 3px;
}
.sort {
  button {
    background: #385170;
    color: white;
  }
}
