.allArticles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #9fd3c7;
 a{
  text-decoration: none;
  color: black;
 }
}
.searchBar {
  width: 355px;
  height: 30px;
  border-radius: 10px 0 0 10px;
  margin-top: 20px;
  border-right: none;
  position: relative;
  border: 2px solid black;
  border-right: none;
}
.searchButton {
  height: 30px;
  border-radius: 0 10px 10px 0;
  bottom: 0px;
  border: solid 2px;
  border-left: none;
  background:white;
  cursor: pointer;
  margin-top: 21px;
}
.pagination{
  margin: 20px;
  display: flex;
  justify-content: space-between;
  button{
    min-width: 70px;
    background: #385170;
    color: white;
    padding: 5px;
  }
}
